@font-face {
  font-family: "iconfont"; /* Project id 3294283 */
  src: url('iconfont.woff2?t=1648732115324') format('woff2'),
       url('iconfont.woff?t=1648732115324') format('woff'),
       url('iconfont.ttf?t=1648732115324') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-smiling:before {
  content: "\e63f";
}

.el-icon-annex-full:before {
  content: "\ea36";
}

